<div class="min-h-screen bg-gray-900 flex items-center justify-center">
  <div class="bg-gray-700 rounded-lg shadow-2xl p-8 max-w-md">
    <h1 class="text-4xl font-bold text-blue-300 mb-4">
      Bienvenue sur SOC Dashboard !
    </h1>
    <p class="text-white mb-6">
      Bienvenue sur notre application de gestion des vulnérabilités. Commencez à sécuriser vos systèmes dès aujourd'hui !
    </p>
    <button
      (click)="goToDashboard()"
      class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-2 px-4 rounded-md transition duration-200">
      Dashboard
    </button>
  </div>
</div>